<!-- MOST META TAGS -->
<link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css" />
<link rel="manifest" href="/manifest.webmanifest">
<link rel="apple-touch-icon" href="/logo/logo.webp">
<meta name="theme-color" content="#7f1d1d" />
<link rel="shortcut icon" href="/images/logo.png">
<link rel="icon" type="image/webp" href="/images/logo.webp">
<link rel="shortcut icon" href="/images/logo.webp">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- SEO -->
<title>
	<%- locals.title %>
</title>
<link rel="preload" href="https://storage.googleapis.com/">
<meta name="title" content="<%- locals.title %>">
<meta name="description" content="<%- locals.description %>">
<meta property="og:type" content="website">
<meta property="og:title" content="<%- locals.title %>">
<meta property="og:description" content="<%- locals.description %>">
<meta property="og:image" content="/images/logo.webp">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="<%- locals.title %>">
<meta property="twitter:description" content="<%- locals.description %>">
<meta property="twitter:image" content="/images/logo.webp">
<!-- CSS AND JS -->
<link href="/css/tailwind.css" rel="stylesheet">
<script src="/js/typed.js"></script>
<link href="/css/main.css" rel="stylesheet">